# ==========================================
# Frontend Environment Variables
# ==========================================

# The URL of the backend API
# For local development: http://127.0.0.1:8000
# For production: The deployed Vercel URL (e.g. https://imageannotation.vercel.app)
NEXT_PUBLIC_API_URL=https://imageannotation.vercel.app,http://localhost:3000
